.header {
  position: fixed;
  top: 0;
  height: 80px;

  /* background: black; */
  width: 100%;
  padding: 20px 80px;
  background-color: grey;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  height: 100%;
}

.left-nav img {
  height: 50px;
  width: 50px;
}

.nav-link a.active {
  text-decoration: underline;
  color: red;
}

.page-container {
  margin-top: 100px;
}

ul.nav-links {
  display: flex;
}

/*
.right-nav {
  width: 25%;
} */
